<% if(success != '') { %>
    <div class="alert alert-success alert-dismissible fade show mb-0">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% } %>

<% if(error != '') { %>
    <div class="alert alert-danger alert-dismissible fade show">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% } %>