<nav class="navbar navbar-expand-md navbar-light sticky-top shadow-lg">
    <a class="navbar-brand mr-5" href="/">Near<strong>Buy</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-5">
            <a class="nav-link" href="/shops/nearby"><strong>nearby</strong></a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link" href="/shops/preferred"><strong>preferred</strong></a>
        </li>
        </ul>
        <button class="btn btn-info my-2 my-sm-0 mr-4" onclick="getLocation()">Use my current location</button>
        <a class="btn btn-danger my-2 my-sm-0" href="/users/logout">Logout</a>
    </div>
</nav>