<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Shops</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-5">
            <a class="nav-link" href="/shops/nearby">nearby<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-5">
            <a class="nav-link" href="/shops/preferred">favorites</a>
        </li>
        </ul>
        <a href="/users/logout" class="btn btn-light my-2 my-sm-0">Logout</a>
    </div>
</nav>