<nav class="navbar navbar-expand-sm navbar-light sticky-top shadow-lg">
    <a class="navbar-brand" href="/"><strong>NearBuy</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-5">
            <a class="nav-link" href="/shops/nearby?page=1"><strong>nearby</strong></a>
        </li>
        <li class="nav-item ml-5">
            <a class="nav-link" href="/shops/preferred"><strong>preferred</strong></a>
        </li>
        </ul>
        <a class="btn btn-secondary my-2 my-sm-0" href="/users/logout">Logout</a>
    </div>
</nav>