<div class="container pb-4 text-center bg">
    <div class="btn-group w-50" role="group" aria-label="Basic example">
        <% if(data.hasPrev) { %>
            <a href="/shops/nearby?page=<%= data.prevPage %>" class="w-50 btn btn-sm btn-secondary border-dark shadow-sm">Previous</a>
        <% } else { %>
            <a href="/shops/nearby?page=<%= data.prevPage %>" class="w-50 btn btn-sm btn-secondary border-dark shadow-sm disabled">Previous</a>
        <% } %>
        
        <% if(data.hasNext) { %>
            <a href="/shops/nearby?page=<%= data.nextPage %>" class="w-50 btn btn-sm btn-secondary border-dark shadow-sm">Next</a>
        <% } else { %>
            <a href="/shops/nearby?page=<%= data.nextPage %>" class="w-50 btn btn-sm btn-secondary border-dark shadow-sm disabled">Next</a>
        <% } %>
    </div>
</div>