<%- include partials/header %>

<div class="jumbotron jumbotron-fluid text-center shadow-lg">
    <div class="container">
        <h1 class="display-2">Nearbuy</h1>
        <p class="lead mb-4"><strong>Login or register to browse shops near you and pick your favorites.</strong></p>
        <a class="btn btn-dark btn-lg shadow" href="/users/login" role="button">Login</a>
        <a class="btn btn-dark btn-lg shadow" href="/users/register" role="button">Register</a>
    </div>
</div>

<%- include partials/footer %>