<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container pt-4 bg">
    <% include ./partials/flash %>
</div>

<div class="container d-flex flex-wrap justify-content-start bg">
    <% shops.forEach(function(shop) { %>
        <div class="card border-dark mx-auto m-4 shadow" style="width: 14rem;">
            <h4 class="card-title text-center mt-1"><%= shop.name %></h4>
            <img src="<%= shop.picture %>" class="card-img-top" alt="shop image">
            <div class="card-body">
                <a href="/shops/<%= shop.id %>/remove" class="btn btn-sm btn-danger border-dark btn-block">Remove</a>
            </div>
        </div>
    <% }); %>
</div>

<% include ./partials/footer %>